* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    height: 100vh;
}
body h1 {
    text-align: center;
    margin-top: 1rem;

    color: blue;
    padding: 1rem;
    box-shadow: 0 10px 30px rgba(71, 71, 71, 0.085);
}

body main {
    display: flex;
    padding: 3rem;
    padding-top: 0;
    width: 100%;
    justify-content: space-between;
}

body main section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-section h3 {
    color: rgb(0, 0, 77);
    padding: 1rem;
}
.left-section h2 {
    color: rgb(0, 0, 77);
    padding: 1rem;
}
.right-section {
    border-radius: 10px;
    max-height: fit-content;
    margin-top: 2rem;
}
.right-section:hover {
    box-shadow: 0 10px 30px rgb(211, 211, 211);
    cursor: pointer;
}
.right-section p {
    padding: 1rem;
}
.icons {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.profile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.react {
    border: 1px solid rgb(121, 121, 255);
}

.header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 600px;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border 0.3s ease;
}

footer {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    box-shadow: 0 10px 36px rgb(172, 172, 172);
    text-align: center;
}

.react-card {
    border-left: 3px solid rgb(30, 229, 255);
}
.db-card {
    border-left: 3px solid rgb(0, 255, 8);
}
.pm-card {
    border-left: 3px solid rgb(0, 80, 241);
}
.express-card {
    border-left: 3px solid rgb(255, 255, 0);
}
.stack-card {
    border-left: 3px solid rgb(31, 90, 0);
}

.react-card:hover {
    transition: border 0.3s ease;
    background-color: rgba(30, 229, 255, 0.055);
    border: 1px solid rgb(30, 229, 255);
}

.stack-card:hover {
    transition: border 0.3s ease;
    background-color: rgba(31, 90, 0, 0.055);
    border: 1px solid rgb(31, 90, 0);
}

.express-card:hover {
    transition: border 0.3s ease;
    background-color: rgba(255, 255, 0, 0.055);

    border: 1px solid rgb(255, 255, 0);
}

.db-card:hover {
    transition: border 0.3s ease;
    background-color: rgba(0, 255, 8, 0.055);

    border: 1px solid rgb(0, 255, 8);
}

.pm-card:hover {
    transition: border 0.3s ease;
    background-color: rgba(0, 80, 241, 0.055);

    border: 1px solid rgb(0, 80, 241);
}
